#PCL
PCL.ini

#vscode
.vscode

#curseforge
minecraftinstance.json
.curseclient
downloads

#minecraft
saves
resourcepacks
screenshots
*.log
logs
.cache
modernfix
patchouli_books
local\ftbchunks
backups
options.txt
patchouli_data.json
usercache.json
usernamecache.json
rhino.local.properties
servers.dat
emi.json

#dev tools
mods\IconExporter-1.20.1-1.3.0.jar
icon-exports-x32
config\iconexporter-common.toml

#above 50M,but they are used
mods/alexscaves-1.1.5.jar